footer{
    background-color: burlywood;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .footer {
        display: flex;
        column-gap: 350px;
        color: rgb(68, 68, 68);
        .footer1 { 
            ul {
                h2{
                    color: black;
                    margin-bottom: 20px;
                }
            }
                li{
                    a{
                        color: gray;
                    }
                }
            }
        }
    }
