header {
  nav {
    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 10vh;
      background-color: black;

      li {
        padding: 5px 15px;
        transition: 1.2s;
        a {
          color: white;
        }
        &:hover {
          background-color: white;
          border-radius: 10px;
          transform: scale(1.3);
          &:hover a {
           color: black;
          }
        }
      }
    }
  }
}
