header {
    nav {
        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 10vh;
            background-color: black;
            }
            li a:hover {
                background-color: white;
                color: black;
                border-radius: 10px;
            }
                  li a {
                padding: 15px 20px;
                color: white;
                transition: 1.2s;
            }
            }
}
