section{
    height: 100vh;
    border: 2px solid black;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
section {
    .container{
        .box {
            height: 200px;
            width: 200px;
            background-size: cover;
            text-align: center;
            border: 2px dotted black;
            background-color: burlywood;
            transition: 2s;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

    section {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
}

.box {
    &:hover {
        transform: rotateX(360deg);
        &:first-child {
            background-image: url(./imgs/minion1\ sass.jpeg);
            background-size: cover;
        }
        &:nth-child(2) {
            background-image: url(./imgs/minion2\ sass.jpeg);
            background-size: cover;
        }
        &:nth-child(3) {
            background-image: url(./imgs/minion3\ sass.jpeg);
            background-size: cover;
        }
        h2 {
            display: none;
        }
        }
        h2 {
            display: block;
        }
    }



